#renderCanvas {
    width   : 100vw;
    height  : 100vh;
    touch-action: none;
    position: absolute;
    background: rgb(214,214,214);
    background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(178,178,178,1) 12%, rgba(163,163,163,1) 25%, rgba(135,135,135,1) 39%, rgba(61,61,61,1) 50%, rgba(17,17,17,1) 51%, rgba(35,35,35,1) 60%, rgba(61,61,61,1) 76%, rgba(33,33,33,1) 91%, rgba(30,30,30,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(178,178,178,1) 12%,rgba(163,163,163,1) 25%,rgba(135,135,135,1) 39%,rgba(61,61,61,1) 50%,rgba(17,17,17,1) 51%,rgba(35,35,35,1) 60%,rgba(61,61,61,1) 76%,rgba(33,33,33,1) 91%,rgba(30,30,30,1) 100%);
    background: linear-gradient(to bottom,  rgba(214,214,214,1) 0%,rgba(178,178,178,1) 12%,rgba(163,163,163,1) 25%,rgba(135,135,135,1) 39%,rgba(61,61,61,1) 50%,rgba(17,17,17,1) 51%,rgba(35,35,35,1) 60%,rgba(61,61,61,1) 76%,rgba(33,33,33,1) 91%,rgba(30,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#1e1e1e',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#1e1e1e',GradientType=0 ); /* IE6-9 */
    z-index: 6;
}
#ui-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.logo{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25vw;
}
.steady-container{
    text-align: center;
}
.steady{
    background: url(../../images/Notification_BG.png);
    background-size: cover;
    display: inline-block;
    font-family: NokiaPureHeadline, "Helvetica Neue", "Arial Rounded MT Bold";
    color: #6A6A6A;
    padding: 1vw 3vw;
    margin-top: 1vw;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
#modeButton{
    background: #f1f1f1;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    color: #ff9910;
    position: fixed;
    font-size: 3vw;
    right: 5vw;
    top: 50vh;
    z-index: 5;
    height: 5vw;
    width:5vw;
    line-height: 5vw;
    text-align: center;
}
.steady img{
    float: left;
    height: 5vw;
    margin-right: 3vw;
}

@font-face {
    font-family: NokiaPureHeadline;
    src: url('../../fonts/NokiaPureHeadline_Light.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/NokiaPureHeadline_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/NokiaPureHeadline_Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: NokiaPureHeadlineBold;
    src: url('../../fonts/NokiaPureHeadline_Bold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/NokiaPureHeadline_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/NokiaPureHeadline_Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
body {
    padding: 0;
    margin: 0;
    font-family: NokiaPureHeadline, "Helvetica Neue", "Arial Rounded MT Bold";
}
.focus-frame,
.focus-frame-green {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../../images/Focus_Frame.png) no-repeat;
    background-size: contain;
    width: 80vw;
    height: 80vw;
    margin-left: 10vw;
    z-index: 1;
}

.pauze-animation {
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
}

.focus-frame.greenify {
    background: url(../../images/Focus_Frame_Green.png) no-repeat;
    background-size: contain;
}

.hidden {
    /*display: none;*/
    visibility: hidden
}

.display-none{
    display: none;
}
/* ----------------------------------------------------------------------------- */
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes rightToLeft {
    from {
        right: -5vw;
    }

    to {
        right: 0;
    }
}

@keyframes rightToLeft {
    from {
        right: -5vw;
    }

    to {
        right: 0;
    }
}

.rightToLeft {
    -webkit-animation-name: rightToLeft;
    animation-name: rightToLeft;
}

@-webkit-keyframes leftToright {
    from {
        right: 0;
    }

    to {
        right: -5vw;
    }
}

@keyframes leftToright {
    from {
        right: 0;
    }

    to {
        right: -5vw;
    }
}

.leftToright {
    -webkit-animation-name: leftToright;
    animation-name: leftToright;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1) translateY(-50%);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }

    50% {
        -webkit-transform: scale3d(0.97, 0.98, 0.9) translateY(-50%);
        transform: scale3d(0.97, 0.98, 0.9) translateY(-50%);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1) translateY(-50%);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }

    50% {
        -webkit-transform: scale3d(0.97, 0.98, 0.9) translateY(-50%);
        transform: scale3d(0.97, 0.98, 0.9) translateY(-50%);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }
}

/*[START]********* Right hud **********/
::-webkit-scrollbar {
    width: 1.2vh;
}
::-webkit-scrollbar-button {
    background: #fdfdfd;
}
::-webkit-scrollbar-track-piece {
    background: #f4f4f4;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 6px;
}
.hud_wrapper{
    max-height: 70vh;
    height:70vh;
    width: 100vw;
    position: absolute;
    top:15vh;
    display: inline-flex;
    display: -webkit-inline-flex;
    color: #838383;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;

}

.left_hud {
    left: 1vh;
    max-height: 70vh;
    height: 70vh;
    width: 35vh;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 6;
}
.left_hud_n {
    background: #efefef;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-flex;
}
.left_hud_x_wrapper{
    right: 0;
    position: absolute;
}
.prod_name {
    margin-top: 0;
}
.prod_des {
    background: #efefef;
    max-height: 56vh;
    overflow-x: auto;
    margin-right: -0.7vh;
    font-size: 3vh;
}
img.left_hud_x {
    float: right;
    height: 2vh;
    width: auto;
    margin-top: 1vh;
    margin-right: 1vh;
}
.left_hud_s{
    max-height: 56vh;
    background: #efefef;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 2vh;
}
.right_hud{
    margin: auto;
    margin-right: 0;
    right: 0;
    max-height: inherit;
    max-width: inherit;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    align-content: center;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    z-index: 7;
    position: fixed;
    pointer-events: none;
}
.right_hud_w {
    height: inherit;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-content: center;
    -webkit-align-content: center;
    -ms-align-content: center;
}
.right_hud_w .right_hud_bottom_orange {
    pointer-events: none;
}
.right_hud_e {
    width: 35vh;
    height: 70vh;
    margin: auto;
    margin-right: 0;
    right: 0;
    max-height: inherit;
    max-width: inherit;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-content: center;
    -webkit-align-content: center;
    -ms-align-content: center;
    z-index: 7;
    pointer-events: none;
    transition: 0.5s;
}
#right_hud_e.deactive {
    transform: translateX(35vh);
    -webkit-transform: translateX(35vh);
    -ms-transform: translateX(35vh);
}
.right_hud_e_components{
    /*    height: 70vh;*/
    /*    max-height: 90vh;*/
    width: 35vh;
    right: 0;
    position: absolute;
    opacity: 0.9;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-align-content: flex-end;
    transition: 0.5s;
    pointer-events: all;
}
#right_hud_e_components.slide_out{
    transform: translateX(35vh);
    -webkit-transform: translateX(35vh);
    -ms-transform: translateX(35vh);
}
#right_hud_e_components.deactive {
    width: 0;
}
.back_btn_wrapper{
    right: 0;
    height: 10vh;
    width: inherit;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
}
.back_btn{
    height: 9.3vh;
    width: 9.3vh;
    display: flex;
    display: -webkit-flex;
    background-color: #ff9910;
}
#back_btn.deactive {
    opacity: 0;
}
.components_btn_wrapper {
    /*overflow-y: auto;*/
}
.components_hud {
    /*    height: 70vh;*/
    max-height: 70vh;
    width: 35vh;
    background: #efefef;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-align-content: flex-end;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 7;
}
.right_hud_top {
    height:35vh;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    transition: 0.5s;
    opacity: 0.9;
    pointer-events: all;
}
#burger_btn{

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
#burger_btn.deactive {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
.right_hud_bottom_orange {
    height:35vh;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    transition: 0.5s;
    pointer-events: all;
}
.right_hud_left {
    align-self: flex-end;
    -webkit-align-self: flex-end;
    -ms-align-self: flex-end;
}
.right_hud_right {
    max-height: inherit;
    width: 44vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.right_hud_right.top {
    max-height: 35vh;
    overflow-y: auto;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    -ms-align-self: flex-end;
    background-color: #efefef;
    border-top-left-radius: 4px;
    border-bottom: 0.5px solid #e1e1e1;
    box-shadow: 3px 3px 20px -4px rgba(0, 0, 0, 0.53);
}
.right_hud_right.bottom {
    max-height: 35vh;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    -ms-align-self: flex-start;
    right: 0;
    z-index: 2;
}
#bg{
    background-color: #efefef;
    height: 22vh;
    width: 35vh;
    float: right;
    position: absolute;
    right:0;
    border-bottom-left-radius: 4px;
    opacity:0.9;
    transition: 0.5s;
}
#bg.slide_out{
    transform: translateX(11.2vh);
}
.prod_desc {
    font-size: 2.4vh;
    max-height: 32vh;
    color: #757575;
    padding: 0 0 0 10px;
    overflow-x: auto;
    margin: 2vh 2vh 0 2vh;
    font-family: NokiaPureHeadline, "Helvetica Neue", "Arial Rounded MT Bold";
}
.prod_name{
    margin: 2vh 2vh 0 2vh;
    font-family: NokiaPureHeadlineBold, "Helvetica Neue", "Arial Rounded MT Bold";
    font-size: 2.8vh;
    color: #585858;
}
.func_btn_wrapper {
    background-color: #fcfcfc;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-content: center;
    -webkit-align-content: center;
    -ms-align-content: center;
    margin-left: 2vh;
    margin-bottom: 0.2vh;
}
.func_btn_wrapper:first-child{
    margin-top: 1vh;
}
.func_btn_wrapper:last-child{
    margin-bottom: 2vh;
}
.func_btn{
    height: 9.3vh;
    width: 9.3vh;
    display: flex;
    display: -webkit-flex;
}
.func_btn_icon{
    width: auto;
    height: 5vh;
    display: table-cell;
    margin: auto;
}
.func_btn_text{
    font-family: NokiaPureHeadlineBold, "Helvetica Neue", "Arial Rounded MT Bold";
    font-size: 2.4vh;
    display: flex;
    display: -webkit-flex;
    align-self: center;
    -webkit-align-self: center;
    -ms-align-self: center;
    padding-left: 1vh;
    color: inherit;
}
#burger_btn {
    background-color: #efefef;
    border-right: 0.5px solid #e1e1e1;
}
#burger_btn.slide_out{
    background-color: #fcfcfc;
}
#burger_btn_icon{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#burger_btn_icon.slide_out{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
#prod_info.slide_out{
    transform: translateX(35.2vh);
    -webkit-transform: translateX(35.2vh);
    -ms-transform: translateX(35.2vh);
}
#prod_info2.slide_out{
    transform: translateX(35.2vh);
    -webkit-transform: translateX(35.2vh);
    -ms-transform: translateX(35.2vh);
}
#right_hud_bottom_orange.slide_out{
    transform: translateX(23.8vh);
    -webkit-transform: translateX(23.8vh);
    -ms-transform: translateX(23.8vh);
}

.func_btn_wrapper.px0 {
    background-color: #ff9910;
    color: white;
    transform: translateY(-0.2vh);
    -webkit-transform: translateY(-0.2vh);
    -ms-transform: translateY(-0.2vh);
}
.hidden{
    visibility: hidden;
    height:0;
}
/*[END]********* Right hud **********/
.nokia_logo_wrapper {
    position: fixed;
    right: 1vh;
    z-index: 7;
}
/*[START]********* Debug Area **********/
.debug {
    position: absolute;
    top: 0;
    height: 3vh;
    width: 100vw;
    text-align: right;
    background: black;
    color: white;
    opacity: 0.7;
    z-index: 7;
    /*visibility: hidden;*/
}
/*[END]********* Debug Area **********/
@media (orientation: landscape) {
    .header {
        padding: 1% 0;
    }
    .focus-frame, .focus-frame-green {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: url(../../images/Focus_Frame.png) no-repeat;
        background-size: contain;
        width: 35vw;
        height: 35vw;
        margin-left: 32.5vw;
        z-index: 1;
    }
    .nokia_logo_wrapper{
        bottom:0;
    }
    .nokia_logo{
        width: 32vh;
    }
}
@media (orientation: portrait) {
    .steady{
        font-size: 1vh;
    }
    .nokia_logo_wrapper{
        top:1vh;
    }
    .nokia_logo{
        width: 16vh;
    }
    .hud_wrapper{
        height: 85vh;
        max-height: 85vh;
        bottom: 0;
        display: -webkit-flex;
        flex-direction: column-reverse;
    }
    .left_hud{
        height: 30vh;
        max-height: 30vh;
        width: 98vw;
        right: 1vw;
        left: 1vw;
        bottom: 1vw;
        justify-content: flex-end;
    }
    .right_hud{
        max-height: 60vh;
        height: 60vh;
        top: 10vh;
    }
    .left_hud_s{
        max-height: 25vh;
        overflow-x: auto;
    }
    .right_hud_e{
        width: 40vw;
    }
    .prod_name{
        font-size: 2vh;
    }
    .prod_desc{
        font-size: 1.8vh;
        max-height: 22vh;
    }
    .prod_des{
        font-size: 1.8vh;
    }
    .right_hud_e_components{
        width: 40vw;
    }
    #right_hud_e_components.slide_out{
        transform: translateX(40vw);
        -webkit-transform: translateX(40vw);
        -ms-transform: translateX(40vw);
    }
    #bg {
        width: 35vw;
        height: 25vw;
    }
    #bg.slide_out{
        transform: translateX(18.4vw);
        -webkit-transform: translateX(18.4vw);
        -ms-transform: translateX(18.4vw);
    }
    .right_hud_right{
        width: 40vw;
    }
    .func_btn_text{
        font-size: 2vh;
        padding-left: 0;
    }
    .func_btn_wrapper{
        margin-left: 1vh;
    }
    .func_btn_wrapper:last-child{
        margin-bottom: 1vh;
    }
    #prod_info2.slide_out{
        transform: translateX(40vw);
        -webkit-transform: translateX(40vw);
        -ms-transform: translateX(40vw);
    }
    #prod_info.slide_out{
        transform: translateX(40vw);
        -webkit-transform: translateX(40vw);
        -ms-transform: translateX(40vw);
    }
    #right_hud_bottom_orange.slide_out{
        transform: translateX(26.6vw);
        -webkit-transform: translateX(26.6vw);
        -ms-transform: translateX(26.6vw);
    }

    /*[START]********* Right hud **********/
    ::-webkit-scrollbar {
        width: 1.2vw;
    }
    .hud_wrapper{
        width: 100vw;
    }
    .prod_des {
        margin-right: -0.7vw;
    }
    .right_hud_e {
        width: 35vw;
    }
    #right_hud_e.deactive {
        transform: translateX(35vw);
        -webkit-transform: translateX(35vw);
        -ms-transform: translateX(35vw);
    }
    .right_hud_e_components{
        width: 35vw;
    }
    #right_hud_e_components.slide_out{
        transform: translateX(35vw);
        -webkit-transform: translateX(35vw);
        -ms-transform: translateX(35vw);
    }
    .back_btn{
        height: 9.3vw;
        width: 9.3vw;
    }
    .components_hud {
        width: 35vw;
    }
    .right_hud_right {
        width: 44vw;
    }
    #bg.slide_out{
        transform: translateX(11.2vw);
    }
    .prod_desc {
        margin: 2vw 2vw 0 2vw;
    }
    .prod_name{
        margin: 2vw 2vw 0 2vw;
    }
    .func_btn_wrapper {
        margin-left: 2vw;
    }
    .func_btn{
        height: 9.3vw;
        width: 9.3vw;
    }
    #prod_info.slide_out{
        transform: translateX(35.2vw);
        -webkit-transform: translateX(35.2vw);
        -ms-transform: translateX(35.2vw);
    }
    #prod_info2.slide_out{
        transform: translateX(35.2vw);
        -webkit-transform: translateX(35.2vw);
        -ms-transform: translateX(35.2vw);
    }
    #right_hud_bottom_orange.slide_out{
        transform: translateX(23.8vw);
        -webkit-transform: translateX(23.8vw);
        -ms-transform: translateX(23.8vw);
    }

    .func_btn_wrapper.px0 {
        transform: translateY(-0.2vw);
        -webkit-transform: translateY(-0.2vw);
        -ms-transform: translateY(-0.2vw);
    }
    /*[END]********* Right hud **********/
}