@font-face {
    font-family: NokiaPureHeadline;
    src: url('../fonts/NokiaPureHeadline_Ultralight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureHeadline_Ultralight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureHeadline_Ultralight.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 100;
}
@font-face {
    font-family: NokiaPureHeadline;
    src: url('../fonts/NokiaPureHeadline_Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureHeadline_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureHeadline_Light.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
}
@font-face {
    font-family: NokiaPureHeadline;
    src: url('../fonts/NokiaPureHeadline_Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureHeadline_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureHeadline_Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
}
@font-face {
    font-family: NokiaPureHeadline;
    src: url('../fonts/NokiaPureHeadline_Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureHeadline_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureHeadline_Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
}
@font-face {
    font-family: NokiaPureHeadline;
    src: url('../fonts/NokiaPureHeadline_Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureHeadline_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureHeadline_Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 400;
}
@font-face {
    font-family: NokiaPureHeadline;
    src: url('../fonts/NokiaPureHeadline_Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureHeadline_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureHeadline_Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
}
@font-face {
    font-family: NokiaPureHeadline;
    src: url('../fonts/NokiaPureHeadline_ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureHeadline_ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureHeadline_ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
}


@font-face {
    font-family: 'NokiaPureSymbols';
    src: url('../fonts/NokiaPureSymbols.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NokiaPureSymbols.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NokiaPureSymbols.ttf')  format('truetype'); /* Safari, Android, iOS */
}
.ditiseenclass{
    //whoop
}
html,
body {
    font-family: NokiaPureHeadline, "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height:100%;
    padding:0;
    margin:0;
    background-color: transparent;
    font-size: 4vw;
    color:#4d5766;
}
.title{
    font-weight: bold;
    text-transform: capitalize;
    margin-top:4vw;
    display: inline-block;
}
.go-wrapper{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    z-index: 2;
}
.header-selected-image,
.header{
    background: #efefef;
    padding:4% 0px 0% 0px;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 1px 2px 0px rgba(112,112,112,0.3)
}
.footer{
    width: 100%;
    background-color: #efefef;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: 0px 1px 2px 0px rgba(112,112,112,0.3)
}

.info2,
.error-wrapper,
.wrapper-shutter,
.button-go-wrapper,
.result,
.trigger,
.selected-image{
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.backdrop{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    z-index: 4;
}
.info2,
.error-wrapper,
.wrapper-shutter,
.selected-image,
.trigger,
.result{
    z-index: 4;
    display: flex;
    justify-content: center;
}
.error-wrapper{
    flex-direction: column;
}
.error-wrapper{
    font-weight: bold;
    color: #efefef;
}
.error-wrapper img{
    margin-top: 20%;
    max-width: 33.33%;
    align-self: center;
}
.error-wrapper .message{
    flex-grow: 1;
    align-self: center;
}
.error-wrapper .oops{
    font-size: 6vw;
}
.btn-shutter-error{
    width: 25vw;
    height: 25vw;
    line-height: 25vw;
    left: 50%;
    margin-left: -12.5vw;
    position: absolute;
    text-align: center;
    display: inline-block;
    bottom: 0;
    z-index: 2;
    color: #efefef;
}
.loading-text-error{
    width: 25vw;
    height: 25vw;
    line-height: 25vw;
    left: 50%;
    margin-left: -12.5vw;
    position: absolute;
    text-align: center;
    display: inline-block;
    bottom: 0;
    z-index: 2;
    color: #efefef;
}
.btn-shutter{
    width: 25%;
}
.loading-text{
    width: 25vw;
    height: 25vw;
    line-height: 25vw;
    left: 50%;
    margin-left: -12.5vw;
    position: absolute;
    text-align: center;
    display: inline-block;
    bottom: 0;
    z-index: 2;
    color: #efefef;
    padding-bottom: 10%;
}
.btn-shutter,
.selected-image .actions{
    margin-bottom: 10%;
    align-self: flex-end;
}
.selected-image .actions{
    display: inline-block;
}
.selected-image .info-wrapper,
.info2 .info-wrapper,
.trigger .trigger-wrapper,
.result .result-wrapper{
    text-align: left;
    background: #efefef;
    margin-bottom: 5%;
    display: inline-block;
    width: 100vw;
    align-self: flex-end;
}

.result {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.result .result-wrapper {
    display: inline;
}
.trigger .trigger-wrapper{
    padding: 0;
}
.trigger-header{
    padding:4vw;
}
.result-wrapper .description{
    text-align: justify;
    font-size: 3.2vw;
}
.link-button{
    color: #003399;
}
.link-button.back{
    color: #003399;
    line-height: 23px;
    display: inline-block;
    margin-top:5vw;
}
.continue-wrapper{
    clear: both;
    text-align: center;
}
.continue-wrapper .btn-shutter{
    position: absolute;
    left: 50%;
    margin-left: -12.5vw;
    width: 25vw;
    margin-bottom: 5%;
}
.info-button.continue{
    height: 25vw;
    width: 25vw;
    display: inline-block;
    line-height: 25vw;
    text-transform: uppercase;
    color: #124191;
}
.link-button.continue{
    height: 25vw;
    line-height: 25vw;
    display: inline-block;
}
.use-case-wrapper {
    clear:both;
}
.use-case-description,
.use-case{
    width:20vw;
    height:20vw;
    margin-left: 4vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    background-image: url(../images/squareloop.gif);
    background-size: 100% 100%;
    padding:1vw;
}
.use-case-description {
    height:auto;
    padding: 0;
    background: none;
    border:none;
    text-align: center;
    font-size: 3vw;
    margin-top:4vw;
}
.trigger-header strong{
    text-transform: capitalize;
}
/* simple grid */
.row{
}
.text-center{
    text-align: center;
}
.col{
    float:left;
}

.col-25{
    width: 25%;
}
.col-50{
    width: 50%;
}
@media (max-width: 600px) {
    .col-25{
        width: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .col-50{
        width: 60%;
    }
}
.carousel{
    overflow: hidden;
}
.carousel .img-wrapper{
    width: 15vw;
    height:15vw;
    float:left;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ff9911;
}
.carousel .img-wrapper img {
    width: 100%;
}
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.3s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
    transition:0.3s linear all;
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}

/* The starting CSS styles for the enter animation */
.fade-galllery.ng-enter {
    transition:0.1s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade-galllery.ng-enter.ng-enter-active {
    opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade-galllery.ng-leave {
    transition:0.1s linear all;
    opacity:1;
}
.fade-galllery.ng-leave.ng-leave-active {
    opacity:0;
}

@media (min-width:360px)  and (max-width: 600px) {
    .col-25{
        width: 15%;
        padding: 0;
    }
    .col-50{
        width: 70%;
    }
}
@media (min-width:480px) and (max-width: 720px) {
    .col{
        line-height: 50px;
    }
    .col img{
        height: 50px;
    }
}
@media (min-width:360px) and (max-width: 480px) {
    .col{
        line-height: 35px;
    }
    .col img{
        height: 34px;
    }
}
@media (min-width: 320px) and (max-width: 360px) {
    .col{
        line-height: 26px;
    }
    .col img{
        height: 28px;
    }
}
@media (min-width: 240px) and (max-width: 320px){
    .col{
        line-height: 25px;
    }
    .col img{
        height: 25px;
    }
}
@media (max-width: 240px) {
    .col{
        line-height: 20px;
    }
    .col img{
        height: 20px;
    }
}
.img-logo {
    width: 64%;
    height: auto !important;
    margin-top: 1px;
}